{% extends 'base.html' %}
{% block content %}



			<!-- 
			=============================================
				Theme Main Banner
			============================================== 
			-->
			{% load static %}
			<div id="theme-main-banner" class="banner-two">
				<div data-src="{% static "images/home/slide-2.jpg"%}">
					<div class="camera_caption">
						<div class="container">
							<h3 class="wow fadeInUp animated">Eskul is an online platform</h3>
							<h1 class="wow fadeInUp animated" data-wow-delay="0.2s">Designed to <span class="s-color">Make Learning</span></h1>
							<a href="course-2-column.html" class="tran3s wow fadeInLeft animated banner-button" data-wow-delay="0.3s">Start Learn Now</a>
							<a href="course-2-column.html" class="tran3s wow fadeInRight animated button-one banner-button hvr-trim" data-wow-delay="0.3s">Purchase now</a>
						</div> <!-- /.container -->
					</div> <!-- /.camera_caption -->
				</div>
				<div data-src="{% static "images/home/slide-1.jpg"%}">
					<div class="camera_caption">
						<div class="container">
							<h3 class="wow fadeInUp animated">Eskul is an online platform</h3>
							<h1 class="wow fadeInUp animated" data-wow-delay="0.2s">Designed to <span class="s-color">Make Learning</span></h1>
							<a href="course-2-column.html" class="tran3s wow fadeInLeft animated banner-button" data-wow-delay="0.3s">Start Learn Now</a>
							<a href="course-2-column.html" class="tran3s wow fadeInRight animated button-one banner-button hvr-trim" data-wow-delay="0.3s">Purchase now</a>
						</div> <!-- /.container -->
					</div> <!-- /.camera_caption -->
				</div>
			</div> <!-- /#theme-main-banner -->



			<!-- 
			=============================================
				Popular Course 
			============================================== 
			-->
			<div class="popular-course">
				<div class="container">
					<div class="theme-title">
						<h6>Featured Tracks</h6>
						<h2>Populer Tracks</h2>
						<a href="{% url 'tracks:track_list' %}" class="tran3s">See All Course</a>
					</div> <!-- /.theme-title -->

					<div class="row">
						{% for track in tracks %}
						<div class="col-md-4 col-xs-6 wow fadeInLeft">
							<div class="single-course">
								<div class="image-box"><img src="images/course/1.jpg" alt=""></div>
								<div class="text">
									<div class="image"><img src="images/course/4.jpg" alt=""></div>
									<div class="name clearfix">
										<h6 class="float-left"><a href="{% url 'contacts:teacher' pk=track.track_designer.pk %}">{{track.track_designer.name}}</a></h6>
										<span class="p-bg-color float-right">Free</span>
									</div>
									<h5><a href="{% url 'tracks:course_list' pk=track.pk %}" class="tran3s">{{track.name}}</a></h5>
									<p>{{track.bio|truncatewords:50 }}</p>
									<ul class="clearfix">
										<li class="float-left">
											<i class="flaticon-people"></i>
											<a href="#" class="tran3s">2,680</a>
										</li>
										<li class="float-left">
											<i class="flaticon-comments"></i>
											<a href="#" class="tran3s">13</a>
										</li>
										<li class="float-right">
											<i class="flaticon-heart"></i>
											<a href="#" class="tran3s">3</a>
										</li>
									</ul>
								</div>
							</div> <!-- /.single-course -->
						</div> <!-- /.col- -->
						{% endfor %}
					</div> <!-- /.row -->
				</div> <!-- /.container -->
			</div> <!-- /.popular-course -->


			<!-- 
			=============================================
				Registration Banner  
			============================================== 
			-->
			<div class="registration-banner">
				<div class="opacity">
					<div class="container">
						<div class="row">
							<div class="col-md-5 col-xs-12">
								<div class="registration-form">
									<form method="post" enctype="multipart/form-data" action="{% url 'contacts:signup' %}">
										{% csrf_token %}
										<h2>Register Now</h2>
										<p>Create  your account and browse thousand of courses!!</p>
										<div class="form-wrapper">
											<h6>Your Username</h6>
											<input type="text" placeholder="Username" name="username">
											<h6>Your EMail</h6>
											<input type="email" placeholder="Email" name="email">
											<h6>Your Password</h6>
											<input type="password" placeholder="Password" name="password">
											<h6>Your Profile Picture</h6>
											<input type="file" name="picture" accept="image/*" placeholder="Profile picture">
											<button type="submit" class="tran3s hvr-trim">SIGN UP NOW!!</button>
										</div> <!-- /.form-wrapper -->
									</form>
								</div> <!-- /.registration-form -->
							</div>

							<div class="col-md-7 col-xs-12">
								<div class="text-wrapper">
									<h2>We Have More <br>Than <span class="p-color">28,690+Student</span> Currently Useing Eskul</h2>

									<ul class="clearfix">
										<li class="float-left">
											<div class="single-box">
						        				<h3><span class="counter">8,759</span></h3>
						        				<p>Currently Use</p>
						        			</div> <!-- /.single-box -->
										</li>
										<li class="float-left">
											<div class="single-box">
						        				<h3><span class="counter">42</span>M</h3>
						        				<p>Total Students</p>
						        			</div> <!-- /.single-box -->
										</li>
										<li class="float-left">
											<div class="single-box">
						        				<h3><span class="counter">70,593</span></h3>
						        				<p>Finished Course</p>
						        			</div> <!-- /.single-box -->
										</li>
									</ul>
								</div>
							</div>
						</div> <!-- /.row -->
					</div> <!-- /.container -->
				</div> <!-- /.opacity -->
			</div> <!-- /.registration-banner -->


			
			
		
	{% endblock %}
			


		