{% extends 'base.html' %}
{% block content %}

			
			<div class="inner-banner">
				<div class="opacity">
					<div class="container">
						<h2>Sign Up</h2>
						<ul>
							<li><a href="{% url 'home' %}" class="tran3s">Home</a></li>
							<li>/</li>
							<li><a href="#">pages</a></li>
							<li>/</li>
							<li>Registration</li>
						</ul>
					</div> <!-- /.container -->
				</div> <!-- /.opacity -->
			</div> <!-- /.inner-banner -->

	        

			<!-- Sign-Up Modal -->
			<div class="signUpModal theme-modal-box">
				<div class="modal-dialog">
				    <!-- Modal content-->
				    <div class="modal-content">
					    <div class="modal-body">
					        <h3>Login with Social Networks</h3>
					        <ul class="clearfix">
					        	<li class="float-left"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i> facebook</a></li>
					        	<li class="float-left"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i> Google</a></li>
					        	<li class="float-left"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a></li>
					        	<li class="float-left"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i> Linkedin</a></li>
					        </ul>
					        <form method="post" enctype="multipart/form-data">{% csrf_token %}
					        	<h3>Sign Up</h3>
					        	<div class="wrapper">
					        		<input type="text" placeholder="Username" name="username">
					        		<input type="email" placeholder="Email" name="email">
					        		<input type="password" placeholder="Password" name="password">
					        		<input type="file" name="picture" accept="image/*" placeholder="Profile picture">
									<button type='submit' class="p-bg-color hvr-trim">Sign up</button>
					        	</div>
					        </form>
					    </div> <!-- /.modal-body -->
				    </div> <!-- /.modal-content -->
				</div> <!-- /.modal-dialog -->
			</div> <!-- /.signUpModal -->



			

		{% endblock content %}