{% extends 'base.html' %}
{% block header %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
 $(document).ready(function(){
            console.log("ashta")
 $('.watched').click(function(e){
     $elem = $(this);
     console.log($elem.attr("data"));
 $.ajax({
     url: $elem.attr("data"),
     type: "get", // or "get"
     data: JSON,
     success: function(data) {
        console.log("done")
     }});
 });
 });
</script>
{% endblock header %}
{% block content %}

			
			
			<div class="inner-banner">
				<div class="opacity">
					<div class="container">
						<h2>{{track.name}}</h2>
						<ul>
							<li><a href="{% url 'home' %}" class="tran3s">Home</a></li>
							<li>/</li>
							<li>course</li>
						</ul>
					</div> <!-- /.container -->
				</div> <!-- /.opacity -->
			</div> <!-- /.inner-banner -->


			<!-- 
			=============================================
				Course Details
			============================================== 
			-->
			<div class="course-details">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-xs-12">
							<div class="details-wrapper">
								<div class="course-title">
									<h2>{{track.name}}</h2>
									
								</div> <!-- /.course-title -->
								<div class="course-info row">
									
									
									
								</div> <!-- /.course-info -->
								<img src="images/course/29.jpg" alt="">
								<p class="p1"> {{track.bio}}.</p>
								<div class="learn-list">
									<h3>What Will I Learn?</h3>
									<ul class="row">
									{% for point in points %}
										<li class="col-sm-6 col-xs-12"><span>{{point}}</span></li>
									{% endfor %}
									</ul>
								</div>

								<div class="curriculum-panel">
									<div class="clearfix">
										<h3 class="float-left">Curriculum</h3>
										<ul class="float-right">
											<li><span>{{len}} </span> Courses</li>
										</ul>
									</div>
									<div class="panel-group theme-accordion" id="accordionTwo">
									{% for course,lessons in courses %}
									{% if forloop.first %}
									  <div class="panel">
									    <div class="panel-heading active-panel">
									      <h5 class="panel-title">
									        <a data-toggle="collapse" data-parent="#accordionTwo" href="#collapse11" class="clearfix">
										        <h6 class="float-left">
										        	<span>course {{forloop.counter}}</span>
										        	{{course.name}} 
													
										        </h6>
										        
									        </a>
									      </h5>
							
									    </div>
										<a href="{% url 'tracks:exam_view' pk=course.pk %}" class="float-right">exam</a>
									    <div id="collapse11" class="panel-collapse collapse in">
									      <div class="panel-body">
									      	<ul>
											     {% for lesson in lessons %}
									      		<li class="clearfix">
									      			<span  class="float-left"><i class="fa fa-play-circle" aria-hidden="true"></i> {{lesson.name}}

													{% if request.user.is_authenticated %}
													<a data='{% url 'tracks:lesson_watch' pk=lesson.pk %}' data-fancybox href={{lesson.link}} 
													class="preview tran3s preview p-bg-color watched">Preview </a>
													{% else %}
													<a data='{% url 'tracks:lesson_watch' pk=lesson.pk %}' data-fancybox href='#' 
													class="preview tran3s preview p-bg-color watched" >Preview </a>
													{% endif %}

													<a data-fancybox href="{% url 'questions:lesson_view' pk=lesson.pk %}" class="preview tran3s preview p-bg-color watched">Discussion </a></span>
									      			{% if request.user in lesson.watching_users.all %}
													  <span class="float-right">watched</span>
													{% else %}
													  <span class="float-right">not watched</span>
													{% endif %}
									      		</li>
												  {% endfor %}
									      	</ul>
									      </div>
									    </div>
									  </div> <!-- /panel 1 -->
									  {% else %}
									  <div class="panel">
									    <div class="panel-heading">
									      <h5 class="panel-title">
									        <a data-toggle="collapse" data-parent="#accordionTwo" href="#collapse{{forloop.counter|add:10}}" class="clearfix">
									         	<h6 class="float-left">
										        	<span>course {{forloop.counter}}</span>
										        	{{course.name}}
										        </h6>
						
									     	</a>
									      </h5>
									    </div>
										<a href="{% url 'tracks:exam_view' pk=course.pk %}" class="float-right">exam</a>
									    <div id="collapse{{forloop.counter|add:10}}" class="panel-collapse collapse">
									      <div class="panel-body">
									      	<ul>
											  {% for lesson in lessons %}
									      		<li class="clearfix">
									      			<span  class="float-left"><i class="fa fa-play-circle" aria-hidden="true"></i> {{lesson.name}} 

													{% if request.user.is_authenticated %}
													<a data='{% url 'tracks:lesson_watch' pk=lesson.pk %}' data-fancybox href={{lesson.link}} 
													class="preview tran3s preview p-bg-color watched">Preview </a>
													{% else %}
													<a data='{% url 'tracks:lesson_watch' pk=lesson.pk %}' data-fancybox href='#'
													class="preview tran3s preview p-bg-color watched disabled ">Preview </a>
													{% endif %}

													<a data-fancybox href="{% url 'questions:lesson_view' pk=lesson.pk %}" class="preview tran3s preview p-bg-color watched">Discussion </a></span>
									      			
													{% if request.user in lesson.watching_users.all %}
													  <span class="float-right">watched</span>
													{% else %}
													  <span class="float-right">not watched</span>
													{% endif %}
													
									      		</li>
									      		{% endfor %}
									      	</ul>
									      </div>
									    </div>
									  </div> <!-- /panel 2 -->
									  {% endif %}
									  {% endfor %}
									</div> <!-- end #accordionTwo -->
								</div> <!-- End of .curriculum-panel -->

								<div class="course-feedback">
									

								<div class="submit-review-form">
									
									
										
								</div> <!-- /.submit-review-form -->
							</div> <!-- /.details-wrapper -->
						</div> <!-- /.col- -->

						<!-- ************************* SIDEBAR ***************************** -->
						<div class="col-md-4 col-sm-6 col-xs-12">
							<div class="course-sidebar">
								
								<div class="sidebar-categories">
									
									
									  
									  
									  
									</div> <!-- end #accordion -->
								</div> <!-- /.sidebar-categories -->
							</div> <!-- /.course-sidebar -->
						</div> <!-- /.col- -->
					</div> <!-- /.row -->
				</div> <!-- /.container -->
			</div> <!-- /.our-course -->


			
			
			{% endblock content %}
			


		