{% extends 'base.html' %}
{% block content  %}
{% load static %}
			<!-- 
			=============================================
				Theme Inner Banner
			============================================== 
			-->
			<div class="inner-banner">
				<div class="opacity">
					<div class="container">
						<h2>Our Tracks</h2>
						<ul>
							<li><a href="{% url 'home' %}" class="tran3s">Home</a></li>
							<li>/</li>
							<li>Tracks</li>
						</ul>
					</div> <!-- /.container -->
				</div> <!-- /.opacity -->
			</div> <!-- /.inner-banner -->


			<!-- 
			=============================================
				Our Tracks
			============================================== 
			-->
			<div class="our-course course-list">
				<div class="container">
					<div class="row">
						<div class="col-lg-9 col-md-8 col-xs-12 popular-course float-right">
							<div class="course-style-filter clearfix">
								
							</div> <!-- /.course-style-filter -->
							{% for track in tracks %}
								<div class="single-course clearfix">
									<div class="image-box float-left"><img src={{track.image.url}} alt=""></div>
									<div class="text float-left">
										<div class="name clearfix">
											<div class="image"><img src={{track.track_designer.img.url}} alt=""></div>
											<div class="float-left">
												<a href="{% url 'contacts:teacher' pk=track.track_designer.pk %}"><h6>{{track.track_designer.name}}</h6></a>
												<br>
												<i>{{track.track_designer.position}}</i>
											</div>
											<span class="p-bg-color float-right">Learn Hard</span>
										</div>
										<h5><a href="{% url 'tracks:course_list' pk=track.pk %}" class="tran3s">{{track.name}}</a></h5>
										<p>{{track.bio|truncatewords:50}}</p>
										<ul class="clearfix">
											<li class="float-left">
												<i class="flaticon-people"></i>
												<a href="#" class="tran3s">2,680</a>
											</li>
											<li class="float-left">
												<i class="flaticon-comments"></i>
												<a href="#" class="tran3s">13</a>
											</li>
											<li class="float-right">
												<i class="flaticon-heart"></i>
												<a href="#" class="tran3s">3</a>
											</li>
										</ul>
									</div>
								</div> <!-- /.single-course -->
								{% endfor %}
							{% if tracks.has_other_pages %}
							<ul class="theme-pagination clearfix">
							{% for i in tracks.paginator.page_range %}
								{% if tracks.number == i %}
									<li><a href="?page={{i}}" class="tran3s active">{{i}}</a></li>
								{% else %}
									<li><a href="?page={{i}}" class="tran3s">{{i}}</a></li>
								{% endif %}
							{% endfor %}
								{% if tracks.has_next %}
									<li><a href="?page={{ tracks.next_page_number }}" class="tran3s">Next</a></li>
								{% else %}
									<li><a class='disable' class="tran3s">Next</a></li>
								{% endif %}
							</ul> <!-- /.theme-pagination -->
							{% endif %}
						</div> <!-- /.popular-course -->

						<!-- ************************* SIDEBAR ***************************** -->
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
							<div class="course-sidebar">
								<div class="sidebar-categories">
									
								
										

										

									</div> <!-- /.course-filter -->
							</div> <!-- /.course-sidebar -->
						</div> <!-- /.col- -->
					</div> <!-- /.row -->
				</div> <!-- /.container -->
			</div> <!-- /.our-course -->


			
{% endblock %}

